body {
  background-image:url(../images/bequia.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#game-container {
}

.tower {
  width: 300px;
  height: 600px;
  float: left;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, .25);
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.tower-focus {
  background: rgba(255, 255, 255, 0.5);
}

.disc {
  height: 20px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0%;
  right: 0%;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.disc1 {
  width: 60px;
  background: yellow;
}

.disc2 {
  width: 80px;
  background: orange;
}

.disc3 {
  width: 100px;
  background: yellow;
}

.disc4 {
  width: 120px;
  background: orange;
}

.disc5 {
  width: 140px;
  background: yellow;
}

.disc6 {
  width: 160px;
  background: orange;
}

.disc7 {
  width: 180px;
  background: yellow;
}

.disc8 {
  width: 200px;
  background: orange;
}

.disc9 {
  width: 220px;
  background: yellow;
}

.disc10 {
  width: 240px;
  background: orange;
}

.disc11 {
  width: 260px;
  background: yellow;
}

.disc12 {
  width: 280px;
  background: orange;
}
